layout {

    focus-ring {
        active-color   "#fff59b"
        inactive-color "#070722"
        urgent-color   "#FD4663"
    }

    border {
        active-color   "#fff59b"
        inactive-color "#070722"
        urgent-color   "#FD4663"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#fff59b"
        inactive-color "#998a00"
        urgent-color   "#FD4663"
    }

    insert-hint {
        color "#fff59b80"
    }
}
